﻿.site-logo
{
  position: relative;
  left: 400px;
  top: 0px;
}

.site-navbar
{
  left: 9%;

}

.nav-link
{
  font-weight: 100;
  font-size: 26px;
}
body {
  margin:0px;
  background-color:#F9F9F9F9;
  background-image:none;
  position:relative;
  left:4%;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:relative;
  top: -10%;
  left: 20%;
  z-index:0;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:144px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:144px;
  display:flex;
  font-size:73px;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:144px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:0px;
  width:640px;
  height:144px;
  display:flex;
}
#u111 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:585px;
  padding:3px 2px 3px 2px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u112_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:585px;
  padding:3px 2px 3px 2px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:585px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:205px;
  width:384px;
  height:585px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u112 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u112_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:585px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u112.disabled {
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:57px;
  background:inherit;
  background-color:#AE9142;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#AE9142;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
  text-align:left;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:205px;
  width:384px;
  height:57px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
  text-align:left;
}
#u113 .text {
  position:absolute;
  align-self:center;
  padding:16px 6px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:88px;
  background:inherit;
  background-color:#f9f9f9;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:262px;
  width:384px;
  height:88px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u114 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:88px;
  background:inherit;
  background-color:#0C2340;
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:#0C2340;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:262px;
  width:384px;
  height:88px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:205px;
  width:640px;
  height:585px;
}
#u116_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:585px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:585px;
  background:inherit;
  background-color:#0C2340;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:57px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:625px;
  height:585px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:57px;
}
#u117 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:585px;
  background:inherit;
  background-color:#0C2340;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#0C2340;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:585px;
  display:flex;
}
#u118 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u116_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:585px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u116_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:585px;
  background:inherit;
  background-color:#0C2340;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:57px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:625px;
  height:585px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:57px;
}
#u119 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:585px;
  background:inherit;
  background-color:#0C2340;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#0C2340;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:585px;
  display:flex;
}
#u120 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u116_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:585px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u116_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:585px;
  background:inherit;
  background-color:#0C2340;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#0C2340;
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:57px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:625px;
  height:585px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:57px;
}
#u121 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:585px;
  background:inherit;
  background-color:#0C2340;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#0C2340;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:585px;
  display:flex;
}
#u122 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u116_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:585px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u116_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:585px;
  background:inherit;
  background-color:#0C2340;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#0C2340;
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:57px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:625px;
  height:585px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:57px;
}
#u123 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:585px;
  background:inherit;
  background-color:#0C2340;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#0C2340;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:585px;
  display:flex;
}
#u124 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u116_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:585px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u116_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:585px;
  background:inherit;
  background-color:#0C2340;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#0C2340;
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:57px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:625px;
  height:585px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:57px;
}
#u125 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:585px;
  background:inherit;
  background-color:#0C2340;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#0C2340;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:585px;
  display:flex;
}
#u126 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u116_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:585px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u116_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:585px;
  background:inherit;
  background-color:#0C2340;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#0C2340;
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:57px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:625px;
  height:585px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:57px;
}
#u127 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:585px;
  background:inherit;
  background-color:#0C2340;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#0C2340;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:585px;
  display:flex;
}
#u128 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:88px;
  background:inherit;
  background-color:#f9f9f9;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:384px;
  height:88px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u129 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:88px;
  background:inherit;
  background-color:#f9f9f9;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:438px;
  width:384px;
  height:88px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u130 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:88px;
  background:inherit;
  background-color:#f9f9f9;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:526px;
  width:384px;
  height:88px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u131 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:88px;
  background:inherit;
  background-color:#f9f9f9;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:614px;
  width:384px;
  height:88px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u132 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:88px;
  background:inherit;
  background-color:#f9f9f9;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:702px;
  width:384px;
  height:88px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u133 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:88px;
  background:inherit;
  background-color:#0C2340;
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:#0C2340;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:384px;
  height:88px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u134 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:88px;
  background:inherit;
  background-color:#0C2340;
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:#0C2340;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:438px;
  width:384px;
  height:88px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u135 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:88px;
  background:inherit;
  background-color:#0C2340;
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:#0C2340;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:526px;
  width:384px;
  height:88px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u136 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:88px;
  background:inherit;
  background-color:#0C2340;
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:#0C2340;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:614px;
  width:384px;
  height:88px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u137 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:88px;
  background:inherit;
  background-color:#0C2340;
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:#0C2340;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:702px;
  width:384px;
  height:88px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u138 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 6px 6px;
  box-sizing:border-box;
  width:100%;
}
#u138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}


