body
{
    background-color: #f9f9f9;
    border: solid black 2px;
    color: black;
}

.modal
{
    display: none;

}
.title
{
    text-align: center;
    font-size: 22px;
    font-family: Roboto;
}

.geography
{
    text-align: center;
    font-size: 20px;
    font-family: Roboto;
}

.qfLeft
{
  width: 40%;
  height: 100%;
  float: left;
}

.chartRight
{
  width: 58%;
  height: 100%;
  float: left;
  border-left: solid black 2px;
  overflow: auto;
}

.quickfactQ
{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: Roboto;
}

.quickfactBox
{
    align: center;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    top:90px;
    font-size: 20px;
    font-family: Roboto;
    border: solid black 2px;
    border-radius: 5px;
}

.downloadDiv
{
    align: center;
    text-align: center;
    margin-top: 5%;
}

.downloadButton
{
    align: center;
    text-align: center;
    width: 30%;
    height: 50px;
    font-size: 32px;
}

.chartBig
{
    margin: 2%;
    align: cener;
    text-align: center;
}

.secondTier
{
    border-bottom: solid black 2px;
    height: 375px;
    width: 100%;
}

.variablesRow
{
    font-family: Roboto;
    width:80%;
    height:100px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

.variables
{
    float: left;
}

.variable1Box
{
    float: left;
    border: solid black 2px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin-left: 5%;
}

.variable2Box
{
    float: left;
    border: solid black 2px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin-left: 5%;

}
